.d_ts_time_slots {
  background-color: #fff;
  border-radius: 16px;
  width: 160px;
  height: calc(100% - 20px);
  padding: 8px 24px;
  margin-right: 12px;
  cursor: pointer;
}

.d_ts_time_slots_active {
  width: 640px;
  cursor: auto;
}

.d_ts_time_slots_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #767676;
}

.d_ts_time_slots_date {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.d_ts_time_slots_list {
  margin-top: 40px;
}

.d_ts_time_slots_list_item {
  border-top: 1px solid #E9E9E9;
  width: 100%;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.38px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #040404;
  padding: 24px 0;
}

.d_ts_time_slots_active .d_ts_time_slots_list_item {
  text-align: left;
}

.d_ts_time_slots .range {
  display: none;
}

.d_ts_time_slots .range .d_ts_button {
  border-radius: 100px;
  background: #040404;
  width: 100%;
  height: 54px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 22px;
}

.d_ts_time_slots_active .range {
  display: block;
}

