.d_mp_event_card {
  border-radius: 12px;
  background-color: #836ac6;
  width: 32%;
  height: 176px;
  color: #fff;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.d_mp_event_card_title {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 12px;
}

.d_mp_event_card_date {
  font-family: 'SF Pro Display Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
}
