.d_ep_button_event {
    border-radius: 100px;
    background: #040404;
    width: 417px;
    height: 58px;
    padding: 4px;
    display: flex;
    margin: 0 auto;
    position: fixed;
    bottom: 24px;
    right: 0;
    left: 0;
}

.d_ep_invite_participants {
    border-radius: 100px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    font-family: 'SF Pro Display Semibold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    cursor: pointer;
    margin-right: 16px;
}

.d_ep_button_participants {
    border-radius: 100px;
    background: #CDCDCD;
    width: 30%;
    height: 100%;
    font-family: 'SF Pro Display Semibold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d_ep_button_participants img {
    margin-right: 6px;
}
