.d_container {
    background-color: #040404;
    height: 100vh;
}

.d_pw_navbar {
    color: #fff;
    padding: 12px 32px;
    display: flex;
    vertical-align: center;
    justify-content: space-between;
}

.d_outlet {
    border-radius: 32px 32px 0 0;
    background-color: #fff;
    height: calc(100vh - 87px);
    padding: 40px 32px 0 40px;
}