.container {
  max-width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .container {
    max-width: 100%;
  }
}
